:root{
    --fond-menu : #145a00;
    --couleur-menu : aliceblue;
    --fond-menu-inverse: salmon;
    --couleur-menu-inverse: #223;
    --fond-menu-choisi: #123456;
}

footer{
    border: 2px solid black;
    text-align: center;
    width: 500px;
    margin: auto;
    padding: 20px;
    clear: both;
}

nav{
    text-align: center;
}

.header{
    background-color: var(--fond-menu, #000);
    padding-top: 4px;
}

.content {
    padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}

#menu-principal {
    background-color: var(--fond-menu, #000);
    padding-top: 4px;
}

#connexion{
    padding-top: 4px;
    text-align: right;
}

.barre-menu {
    overflow: hidden;
    display: inline-block;
}

.barre-menu a {
    float: left;
    font-size: 16px;
    color: var(--couleur-menu);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.5s, background-color 0.5s;
}

.card-header {
    background-color: #198754 !important;
}

.btn-primary {
    background-color: #198754 !important;
    border-color: #198754 !important;
}

.submit-group .btn-primary{
    margin: auto 230px auto auto;
}
.deroulant {
    float: left;
    overflow: hidden;
}

.deroulant .btn-deroulant {
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--couleur-menu);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: color 0.5s, background-color 0.5s;
}

.barre-menu a:hover, .deroulant:hover .btn-deroulant {
    background-color: var(--fond-menu-inverse);
    color: var(--couleur-menu-inverse);
}

.sous-menu {
    display: none;
    position: absolute;
    background-color: var(--fond-menu);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.sous-menu a {
    float: none;
    color: var(--couleur-menu);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: color 0.5s, background-color 0.5s;
}

.sous-menu a:hover {
    background-color: var(--fond-menu-inverse);
    color: var(--couleur-menu-inverse);
}

.deroulant:hover .sous-menu {
    display: block;
}

#texte-acceuil img{
    float: right;
    height: 150px;
}

#texte-acceuil, #section-pdv{
    width: 33%;
    margin-left: 33%;
    text-align: center;
}
#texte-faq{
    width: 66%;
    margin-left: 34%;
}

#section-connexion {
    width: 66%;
    margin-left: 39%;
}

#section-connexion .form-group{
    margin-bottom: 30px;
}

#section-connexion .bouton_Connexion{
    text-align: center;
}

#section-inscription{
    width: 66%;
    margin-left: 39%;
}

#menu-gauche{
    position: fixed;
    width:20%;
    text-align: center;
    font-size: x-large;
}

#menu-gauche a{
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 1.5%;
    background-color: var(--fond-menu);
    color: var(--couleur-menu);
    text-decoration: none;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
}

#menu-gauche a:hover, #menu-gauche a.choisi:hover{
    background-color: var(--fond-menu-inverse);
    color: var(--couleur-menu-inverse);
}

#menu-gauche a.choisi{
    background-color: var(--fond-menu-choisi);
}

fieldset{
    max-width: 500px;
}
form .group{
    margin-bottom: 20px;
}

form .group label{
    display: inline-block;
    width: 45%;
    margin-right: 5%;
    text-align: right;
}

form .group select{
    width: 32%;
}
#renseignement-auth input{
    width: 30%;
    margin: auto;
}

.submit-group input[type=submit]{
    width: 150px
}
.submit-group {
    max-width: 500px;
    text-align: right;
    padding: 14px 0px 14px 28px;
}

#jsonBtn {
    border-radius: 10px;
}

.btn-outline-success{
    margin-left: 10px;
}

#table-inscription {
    border-collapse: collapse;
    margin: 25px 25px 25px 0;
}

#table-inscription caption{
    font-size: x-large;
}

#table-inscription td{
    border: 1px solid black;
    padding: 10px;
}

#pdv-grille {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    grid-row-gap: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.pdv-item {
    border: 1px solid rgba(0,0,0,0.8);
    padding: 15px;
    text-align: center;
}

.pdv-item h1{
    font-size: x-large;
    margin: 0 0 15px;
}

.pdv-item h2{
    font-size: medium;
    text-align: left;
}
.pdv-item ul{
    padding-left: 20px;
}

#pdv-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#pdv-flex .pdv-item{
    margin: 0 25px 25px 0;
}

#corps-principal{
    margin-top: 70px;
    margin-bottom: 25px;
}

@media screen and (max-width: 900px) {
    #pdv-grille {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 600px) {
    #pdv-grille {
        grid-template-columns: auto;
    }
}

.centrer {
    text-align: center;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.myImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60%;
    width: 60%;
}

.myImg:hover{
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
    cursor: pointer;
}

.d-flex{
    padding-top: 20px;
}

#para-1{
    padding-top: 40px;
}

.bi-x-square-fill{
    color: rgba(255, 0, 0, 0.87);
}

.bi-x-square-fill:hover{
    color: rgba(255, 0, 0, 0.87);
    cursor: pointer;
}

#imgPanier{
    width: 20%;
    height: 20%;

}

.col-md-2{
    position: center;
}

.col-md-2 .btn-outline-success{
    position: relative;
    margin: 15px auto;
}

#notDone{
    color: rgba(255, 0, 0, 0.87);
    border-color: rgba(255, 0, 0, 0.87);
}

#notDone:hover{
    color: white;
    border-color: rgba(255, 0, 0, 0.87);
    background-color: rgba(255, 0, 0, 0.87);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body{
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
}

.container h1{
    color: #fff;
    text-align: center;
}

details{
    background-color: #303030;
    color: #fff;
    font-size: 1.5rem;
    margin-top: 30px;
}

summary {
    padding: .5em 1.3rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    transition: height 1s ease;
}

summary::-webkit-details-marker {
    display: none;
}

summary:after{
    content: "\002B";
    position: absolute;
    right: 130px;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

details[open] summary:after{
    content: "\00D7";
}

details[open] div{
    padding: .5em 1em;
}

#faqHeader{
    text-align: center;
}